@{
    ViewData["Title"] = "Home Page";
}

<h2>Hello and welcome to the CSC-348 Coursework page! </h2>
<h4>Make sure to Log in/Register and then click the Forum Buttom!</h4>

<body style="height:619px">
    <img src="~/images/TreeImage.jpg" />
    <div>This is just a random stock image tree to fill up space, hope you like it.</div>
</body>