@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>Privacy is a joke, everything is exposed <br/>
    #Woke <br/>
    #RedPill <br />
    You weren't meant to see this, I'm sorry
    </p>
