@model WebDevCoursework.Models.ForumIndexVM
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@inject RoleManager<IdentityRole> RoleManager

@{
    ViewData["Title"] = "Index";
}

<h2>List of Forums</h2>

<p>
    @if ( RoleManager.Equals("Admin") )
    {
    <a class="btn btn-info" asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <td>Forum No.</td>
            <td>Forum Title</td>
            <td>Description</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Forum item in Model.Forums)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
            </tr>
        }
    </tbody>
</table>
